<!DOCTYPE html>
<html>
<head>
    <title>SmartStock Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="text-align:right;">
    <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
</div>

<nav class="navbar navbar-light bg-light px-4">
    <span class="navbar-brand">SmartStock Store</span>
</nav>

<div class="container mt-4">
    <div class="row">
    {% for p in products %}
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5>{{p[1]}}</h5>
                    <p class="text-muted">{{p[2]}}</p>
                    <p>Stock: {{p[3]}}</p>
                    <a href="/buy/{{p[0]}}" class="btn btn-success btn-sm">Buy</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

</body>
</html>


